<!doctype html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base::header}">
    <title>List</title>

</head>
<body>
<div th:replace="~{base::nav}"></div>
<!--All CRUD operations in one form-->
<br/>
<h2 class="text-center">Course List</h2><br/>
<div class="container col-md-6 text-center">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" sec:authorize="hasRole('ADMIN')">Select</label>
        <label class="col-sm-2 col-form-label">Title</label>
        <label class="col-sm-4 col-form-label">Instructor</label>
        <label class="col-sm-2 col-form-label">Credits</label>
        <label class="col-sm-2 col-form-label" sec:authorize="hasRole('ADMIN')">Actions</label>
    </div>
    <!--enhanced for loop-->
    <div class="mb-3 row" th:each="course : ${courses}">

        <input class="col-sm-2 form-check" id="select" sec:authorize="hasRole('ADMIN')" type="checkbox">
        <a class="col-sm-2" th:href="@{/detail/{id}(id=${course.id})}">[[${course.title}]]</a><!-- Read -->
        <label class="col-sm-4 col-form-label" for="select" th:text="${course.instructor}"></label>
        <label class="col-sm-2 col-form-label" th:text="${course.credit}"></label>

        <span class="col-sm-2" sec:authorize="hasRole('ADMIN')">
            <!--<span th:if="${user_id == course.user.id}">
                </span>-->
            <a th:href="@{/update/{id}(id=${course.id})}">Edit</a>-<!-- Update -->
            <a th:href="@{/delete/{id}(id=${course.id})}">Delete</a><!-- Delete -->
        </span>

    </div>
</div>
<br/>
<div th:replace="~{base::footer}"></div>
</body>
</html>